################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GWRepository
/GWRepository/bin/Debug
/GWRepository/obj/Debug
/GWTesting/bin/Debug
/GWTesting/obj/Debug
/packages
